@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 84%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/* headerTop styling starts here */
.head-top {
  width: 100%;
  background: #ebebeb;
}

.head-top .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.head-top { padding: 11px 0; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.location figure { 
  width: 5%;
  margin-right: 5px;
}

.location span {
  color: #858383;
  font-weight: 600;
  font-size: 14px;
}

.social li { margin: 0 18px; }

.social li a,
.search {
  position: relative;
  text-indent: -9999px;
}

.social li a::after {
  content: '\f39e';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #000;
  font-weight: 400;
  font-family: 'Font Awesome 5 Brands';
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.social li.twitter a::after { content: '\f099'; }
.social li.insta a::after { content: '\f16d'; }
.social li.git a::after { content: '\f09b'; }

.social li a:hover::after,
.footer-top .social li a:hover::after { color: #666; }
/* headerTop styling ends here */

/* head mid styling starts here */
.head-mid .wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px 0 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo { width: 17%; }

.head-mid ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.head-mid ul li { margin-right: 53px; }
.head-mid ul li:last-child { margin: 0; }

.head-mid ul li span,
.head-mid ul li h2 a,
.head-mid ul li:last-child a {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -.2px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.head-mid ul li span { color: #828585; }
.head-mid ul li h2 a,
.head-mid ul li:last-child a { font-weight: 900; }

.head-mid ul li h2 a:hover { color: #666; }
.head-mid ul li:last-child a:hover { background-color: #f7ca5a; }

.head-mid ul li:last-child a {
  padding: 13px 28px;
  background: #ffb600;
  color: #fff;
  font-size: 12px;
  letter-spacing: .6px;
}

.head-mid ul li h2 a {
  color: #000;
  margin-top: 10px;
}
/* headerMid styling ends here */

/* nav styling starts here */
nav { background: #23282c; }

.menu {
  display: none;
  position: relative;
  font-size: 0;
  cursor: pointer;
}

.close { 
  display: none;
  cursor: pointer;  
}

.menu::after {
  content: '\f0c9';
  color: #fff;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
}

nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav .wrapper > ul li {
  margin-right: 42px;
  position: relative;
}

nav .wrapper > ul > li > a {
  padding: 27px 0;
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .5px;
}

nav .wrapper > ul > li > a::after {
  content: '\f078';
  padding-left: 3px;
  margin-top: 27px;
  position: absolute;
  top: 3px;
  color: #fff;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
}

nav .wrapper > ul > li:last-child > a::after { content: ''; }

nav .wrapper > ul > li > a:hover,
nav .wrapper > ul > li > a:hover::after,
nav .wrapper > ul > li > a.active,
nav .wrapper > ul > li > a.active::after,
.search:hover::after {
  color: #ffb600;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

nav .wrapper > ul > li:hover ul.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  width: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 100%;
  background: #dfdcdc;
  overflow: hidden;
  z-index: 10;
}

.list li { width: 100%;}

.list li a {
  width: 100%;
  padding: 10px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.list li a:hover { background: #fff; }
.search { margin-right: 2%; }

.search::after {
  content: '\f002';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: #858383;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  text-indent: 0;
}
/* nav styling ends here */


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner sytling starts here */

.slide-li { position: relative; }
.slider { overflow: hidden; }
.slider li figure img { width: 105%; }

.slide-li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 20;
}

.banner-content a:first-child {
  padding: 11px 16px;
  margin-bottom: 35px;
  background: #ffb600;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -1px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.banner-content p {
  margin-bottom: 18px;
  font-size: 28px;
  letter-spacing: 1px;
}

.banner-content h2 {
  font-weight: 900;
  font-size: 60px;
  letter-spacing: -.5px;
}

.banner-content a:last-child {
  padding: 12px 20px;
  margin-top: 24px;
  border: 2px solid #ffb600;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.banner-content a:last-child:hover { border-color: #fff }
.banner-content a:first-child:hover { background: #f7ca5a; }

.banner .slick-prev,
.banner .slick-next {
  padding: 20px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  font-size: 0;
}

.banner .slick-prev { left: 0; }
.banner .slick-next { right: 0; }

.banner .slick-prev::after,
.banner .slick-next::after {
  padding: 20px 24px;
  background: #13131380;
  color: #fff;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
.banner .slick-prev::after { content: '\f053'; }
.banner .slick-next::after { content: '\f054'; }

.banner .slick-prev:hover::after,
.banner .slick-next:hover::after { color: #666; }

.test-slider .slick-dots,
.banner .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 11%;
  left: 0;
  text-align: center;
}

.test-slider .slick-dots button,
.banner .slick-dots button {
  padding: 5px;
  margin-right: 18px;
  border: none;
  border-radius: 50%;
  background: #000000;
  font-size: 0;
  outline: none;
  opacity: .2;
}

.test-slider .slick-dots button:hover,
.test-slider .slick-dots li.slick-active button,
.banner .slick-dots button:hover,
.banner .slick-dots li.slick-active button {
  opacity: 1;
  background: #ffb600;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.banner { position: relative; }

.req-quote {
  position: relative;
  top: -55px;
}

.req-quote .wrapper {
  width: 79%;
  padding: 33px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ffb600;
  text-align: center;
}

.req-quote p {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.req-quote a {
  padding: 12px 20px;
  background: #23282c;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.req-quote a:hover { background: #464c52; }

/* banner sytling ends here */

/* about styling starts here */
.about {
  padding-bottom: 50px;
  margin: 22px auto 50px auto;
  position: relative;
}

.aboutBtn { bottom: 38%; }

.about .about-info,
.deliver ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
}

.about .wrapper > p,
.speciality .wrapper > p,
.projects .wrapper > p,
.excellence .wrapper > p { font-size: 18px; }

.deliver h2,
.values h2,
.speciality h2,
.projects h2,
.excellence h2 {
  margin-top: 10px;
  color: #23282c;
  font-weight: 900;
  font-size: 32px;
}

.values h2 { margin-top: -10px; }

.deliver p,
.values p {
  margin-top: 15px;
  color: #949393;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
}

.values p { margin-top: 10px; }

.deliver ul {
  margin-top: 40px;
  grid-gap: 30px;
}

.deliver ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.deliver ul li h3,
.speciality ul li h3 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -.6px;
  line-height: 28px;
}

.deliver ul li span {
  margin-right: 65px;
  display: inline;
  position: relative;
  text-indent: -9999px;
}

.deliver ul li span::after {
  content: '\f091';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffb600;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 37px;
  text-indent: 0;
}

.deliver ul li span.adjust::after { content: '\f1de'; }
.deliver ul li span.thumb::after { content: '\f164'; }
.deliver ul li span.team::after { content: '\f0c0'; }

.values ul {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.values ul li { 
  border: 1px solid #dfdcdc;
  margin-bottom: 8px;
}

.values ul li.active h3 { color: #ffb600; }

.values ul li h3 {
  padding: 16px;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.values ul li h3::after {
  content: '\f078';
  padding: 6px 8px;
  border-radius: 2px;
  float: right;
  background: #333;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.values ul li.active h3::after { 
  content: '\f106';
  padding: 4px 8px;
  font-weight: 600;
  font-size: 14px;
}

.values ul li h3:hover::after,
.values ul li.active h3::after { background: #ffb600; }
.values ul li h3:hover { color: #ffb600; }

.values ul li div {
  padding: 6px 18px 16px 18px;
  margin: 0;
  border-top: 1px solid #dfdcdc;
  display: none;
}

.values ul li div p { letter-spacing: -.2px; }
.values ul li:first-child div { display: block; }

/* about styling ends here */

/* counter styling starts here */
.counter { background: #252525; }

.counter .wrapper {
  padding: 40px 0;
  margin: 0 auto;
}

.counter ul {
  padding: 35px 15px 25px 15px;
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.counter ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.counter ul li figure { width: 40%; }
.counter ul li:last-child figure { width: 27%; }

.counter h2 {
  margin: 20px 0 11px 0;
  color: #fff;
  font-weight: 600;
  font-size: 44px;
}

.counter h3 {
  color: #ffb600;
  font-weight: 600;
  font-size: 17px;
}

/* counter styling ends here */


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 


 /*=================================
  footer styling ends here
=================================*/

