@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 84%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

/* headerTop styling starts here */
.head-top {
  width: 100%;
  background: #ebebeb;
}

.head-top .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.head-top { padding: 11px 0; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.location figure { 
  width: 5%;
  margin-right: 5px;
}

.location span {
  color: #858383;
  font-weight: 600;
  font-size: 14px;
}

.social li { margin: 0 18px; }

.social li a,
.search {
  position: relative;
  text-indent: -9999px;
}

.social li a::after {
  content: '\f39e';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #000;
  font-weight: 400;
  font-family: 'Font Awesome 5 Brands';
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.social li.twitter a::after { content: '\f099'; }
.social li.insta a::after { content: '\f16d'; }
.social li.git a::after { content: '\f09b'; }

.social li a:hover::after,
.footer-top .social li a:hover::after { color: #666; }
/* headerTop styling ends here */

/* head mid styling starts here */
.head-mid .wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px 0 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo { width: 17%; }

.head-mid ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.head-mid ul li { margin-right: 53px; }
.head-mid ul li:last-child { margin: 0; }

.head-mid ul li span,
.head-mid ul li h2 a,
.head-mid ul li:last-child a {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -.2px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.head-mid ul li span { color: #828585; }
.head-mid ul li h2 a,
.head-mid ul li:last-child a { font-weight: 900; }

.head-mid ul li h2 a:hover { color: #666; }
.head-mid ul li:last-child a:hover { background-color: #f7ca5a; }

.head-mid ul li:last-child a {
  padding: 13px 28px;
  background: #ffb600;
  color: #fff;
  font-size: 12px;
  letter-spacing: .6px;
}

.head-mid ul li h2 a {
  color: #000;
  margin-top: 10px;
}
/* headerMid styling ends here */



/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 


 /*=================================
  footer styling ends here
=================================*/

