@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 84%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

.head-top {
  width: 100%;
  background: #ebebeb;
}

.head-top .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.head-top { padding: 11px 0; }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.location figure { 
  width: 5%;
  margin-right: 5px;
}

.location span {
  color: #858383;
  font-weight: 600;
  font-size: 14px;
}

.social li { margin: 0 18px; }

.social li a,
.search {
  position: relative;
  text-indent: -9999px;
}

.social li a::after {
  content: '\f39e';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #000;
  font-weight: 400;
  font-family: 'Font Awesome 5 Brands';
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.social li.twitter a::after { content: '\f099'; }
.social li.insta a::after { content: '\f16d'; }
.social li.git a::after { content: '\f09b'; }

.social li a:hover::after,
.footer-top .social li a:hover::after { color: #666; }


/* head mid styling starts here */
.head-mid .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo { width: 14.5%; }

.menu {
  display: none;
  position: relative;
  font-size: 0;
  cursor: pointer;
}

.close { 
  display: none;
  cursor: pointer;  
}

.menu::after {
  content: '\f0c9';
  color: #000;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
}

nav > ul > li { 
  margin-right: 33px;
  position: relative; 
}

nav > ul > li > a {
  padding: 44px 0;
  position: relative;
  color: #000;
  font-weight: 900;
  font-size: 13px;
}

nav > ul > li > a::after {
  content: '\f078';
  padding-left: 2px;
  margin-top: 44px;
  position: absolute;
  top: 3px;
  color: #000;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
}

nav > ul > li:nth-child(7) > a::after,
nav > ul > li:nth-child(8) > a::after { content: ''; }
nav > ul > li:nth-child(8) { margin: 0; }
nav > ul > li:nth-child(7) { margin-right: 24px; }

nav > ul > li:nth-child(8) > a {
  padding: 12px 24px;
  margin: 0;
  border-radius: 3px;
  background: #ffb600;
}

nav > ul > li:nth-child(8) > a:hover {
  color: #000;
  background: #f7ca5a;
}

nav > ul > li > a:hover,
nav > ul > li > a:hover::after {
  color: #ffb600;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

nav > ul > li:hover ul.list { display: -webkit-box; display: -ms-flexbox; display: flex; }

.list {
  width: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 100%;
  background: #dfdcdc;
  overflow: hidden;
  z-index: 10;
}

.list li { width: 100%;}

.list li a {
  width: 100%;
  padding: 10px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.list li a:hover { background: #fff; }
/* nav styling ends here */


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner sytling starts here */

.slide-li { position: relative; }
.slider { overflow: hidden; }
.slider li figure img { width: 105%; }

.banner-content {
  width: 84%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 20;
}

.banner-content .wrapper {
  width: 53%;
  margin-left: 0;
  padding: 30px 30px;
  background: #0e0e0e80;
  text-align: left;
}

.banner-content h2 { font-size: 18px; }

.banner-content h3 {
  margin: 16px 0;
  font-weight: 600;
  font-size: 36px;
}

.banner-content p {
  font-size: 14px;
  line-height: 24px;
}

.banner-content a {
  padding: 15px 25px;
  margin: 36px 0 3px 3px;
  border-radius: 3px;
  background: #ffb600;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.banner-content a:hover { background: #f7ca5a; }

.banner .slick-prev,
.banner .slick-next {
  padding: 20px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  font-size: 0;
}

.banner .slick-prev { left: 0; }
.banner .slick-next { right: 0; }

.banner .slick-prev::after,
.banner .slick-next::after {
  padding: 20px 24px;
  background: #13131380;
  color: #fff;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.banner .slick-prev::after { content: '\f053'; }
.banner .slick-next::after { content: '\f054'; }
.banner .slick-prev:hover::after,
.banner .slick-next:hover::after { color: #666; }

.test-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 11%;
  left: 0;
  text-align: center;
}

.test-slider .slick-dots button {
  padding: 5px;
  margin-right: 18px;
  border: none;
  border-radius: 50%;
  background: #000000;
  font-size: 0;
  outline: none;
  opacity: .2;
}

.test-slider .slick-dots button:hover,
.test-slider .slick-dots li.slick-active button {
  opacity: 1;
  background: #ffb600;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.banner { position: relative; }

.req-quote {
  width: 100%;
  background: #282d33;
}

.req-quote .wrapper {
  width: 84%;
  padding: 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.req-quote p {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.req-quote a {
  padding: 12px 20px;
  border-radius: 3px;
  background: #ffb600;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.req-quote a:hover { background: #464c52; }
/* banner sytling ends here */



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 



 /*=================================
  footer styling ends here
=================================*/
